* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

.header:after, .main_container:after, .cat_in_mems .blocks:after {
  content: "";
  clear: both;
  display: block; }

.cat_in_mems .button, form .message input, .header a, .main_container .text p, .main_container .text .link a, .main_container .sidebar li, .cat_in_mems .blocks p, .footer p {
  color: #555;
  font-size: 19px;
  font-family: "Georgia";
  text-decoration: none;
  text-align: left; }

.main_container .text h1 {
  color: #333;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: left; }

.main_container .text h2, .cat_in_mems .blocks h2, .form h2 {
  color: #333;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-align: left; }

.main_container .sidebar h3, .cat_in_mems .blocks h3 {
  color: #333;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left; }

.header .about_cat, .header .cat_hobby, .header .memes {
  padding: 15px 22px 14px 45px;
  box-sizing: border-box;
  float: left;
  background-repeat: no-repeat;
  background-position: 20px 18px;
  transition: background-color .1s; }
  .header .about_cat:hover, .header .cat_hobby:hover, .header .memes:hover {
    background-color: #ffbd48; }
  @media screen and (max-width: 560px) {
    .header .about_cat, .header .cat_hobby, .header .memes {
      width: 100%; } }

.cat_in_mems .button, form .message input {
  display: inline-block;
  background-color: #ffbd48;
  border: 1px;
  border-radius: 5px;
  color: #f5f5f5;
  transition: background-color .1s; }
  .cat_in_mems .button:hover, form .message input:hover {
    background-color: #9f6600; }

form label, form .gender h3 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #333;
  text-align: left; }

form #email, form #username, form select, form .message textarea, form .gender label {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-align: left; }

form #email, form #username, form select, form .message textarea {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 10px 18px;
  border: 2px solid #c9c9c9;
  border-radius: 3px;
  transition: border-color .3s; }
  form #email:hover, form #username:hover, form select:hover, form .message textarea:hover {
    border-color: #a6a6a6; }
  form #email:focus, form #username:focus, form select:focus, form .message textarea:focus {
    border-color: #ffbd48; }

.header {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 210px; }
  .header a {
    color: #333; }
    .header a:hover {
      color: #f5f5f5; }
  .header .about_cat {
    margin-left: 20px;
    background-image: url(../icons/about_me.png); }
    .header .about_cat:hover {
      background-image: url(../icons/about_me_white.png); }
  .header .cat_hobby {
    background-image: url(../icons/hobby.png); }
    .header .cat_hobby:hover {
      background-image: url(../icons/hobby_white.png); }
  .header .memes {
    background-image: url(../icons/films.png); }
    .header .memes:hover {
      background-image: url(../icons/films_white.png); }
  @media screen and (max-width: 1200px) {
    .header {
      width: 536px;
      margin: 0 auto 100px; }
      .header .about_cat {
        margin: 0; } }
  @media screen and (max-width: 560px) {
    .header {
      width: 100%; } }

.main_container {
  max-width: 90%;
  width: 1000px;
  margin: 0 auto 18px; }
  .main_container .image {
    margin: 0 0 44px 20px;
    width: 330px;
    height: 350px;
    overflow: hidden;
    float: left;
    border-radius: 5px; }
    .main_container .image img {
      width: 100%; }
  .main_container blockquote {
    margin: 0 20px 32px 63px;
    padding: 25px 0 80px;
    width: 567px;
    float: left; }
    .main_container blockquote p {
      font-size: 28px;
      font-family: "Georgia", sans-serif;
      color: #fff;
      font-style: italic;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 12px; }
    .main_container blockquote span {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #f5f5f5;
      font-weight: 600;
      text-align: left;
      margin-left: 3px; }
  .main_container .text {
    width: 570px;
    max-width: 100%;
    float: right;
    margin-right: 20px; }
    .main_container .text h1:after {
      display: block;
      margin: 20px 0 44px 0;
      content: "";
      background-color: #ffbd48;
      width: 60px;
      height: 6px;
      border-radius: 3px; }
    .main_container .text h2 {
      margin: 38px 0 16px -2px; }
    .main_container .text p {
      line-height: 1.69; }
    .main_container .text .link {
      margin: 45px 0; }
      .main_container .text .link a {
        color: #ffbd48; }
      .main_container .text .link span {
        text-decoration: underline; }
  .main_container .sidebar {
    width: 330px;
    max-width: 100%;
    margin: 0 40px 0 20px;
    float: left; }
    .main_container .sidebar h3 {
      color: #ffbd48;
      margin-bottom: 20px; }
    .main_container .sidebar li {
      margin: 0 0 15px 20px; }
    .main_container .sidebar div {
      margin-bottom: 48px; }
  @media screen and (max-width: 1200px) {
    .main_container .image {
      float: none;
      width: 52%;
      overflow: hidden;
      height: auto;
      margin: 0 auto; }
      .main_container .image img {
        width: 100%; }
    .main_container blockquote {
      float: none;
      width: 536px;
      max-width: 90%;
      margin: 0 auto; }
      .main_container blockquote p {
        color: #555; }
      .main_container blockquote span {
        color: #333; }
    .main_container .text {
      margin: 0 auto;
      width: 100%; }
    .main_container .sidebar {
      width: 100%;
      float: none;
      overflow: hidden;
      margin: 0; }
      .main_container .sidebar div {
        width: 48%;
        float: left; }
        .main_container .sidebar div:first-child {
          margin-right: 4%; } }
  @media screen and (max-width: 720px) {
    .main_container .image {
      width: 330px;
      max-width: 95%; }
    .main_container .sidebar div {
      width: 100%; } }

.cat_in_mems {
  width: 100%;
  padding: 32px 0 60px;
  text-align: center; }
  .cat_in_mems .blocks {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto; }
    .cat_in_mems .blocks h3 {
      margin: 20px 0 18px -2px;
      font-size: 22px;
      font-weight: 700; }
    .cat_in_mems .blocks p {
      font-size: 16px;
      line-height: 1.75; }
    .cat_in_mems .blocks .block_image {
      width: 95%;
      overflow: hidden; }
    .cat_in_mems .blocks img {
      border-radius: 5px;
      margin-top: 30px;
      width: 100%; }
    .cat_in_mems .blocks .block {
      float: left;
      width: 23.75%; }
      .cat_in_mems .blocks .block:not(:last-child) {
        margin-right: 1.6%; }
  .cat_in_mems .button {
    padding: 14px 55px;
    margin-top: 54px; }
  @media screen and (max-width: 1200px) {
    .cat_in_mems .blocks {
      width: 90%; }
      .cat_in_mems .blocks .block {
        width: 48%;
        margin-bottom: 4.5%; }
        .cat_in_mems .blocks .block:not(:last-child) {
          margin-right: 0; }
        .cat_in_mems .blocks .block:not(.not_require) {
          margin-right: 4%; }
        .cat_in_mems .blocks .block .block_image {
          width: 100%; }
          .cat_in_mems .blocks .block .block_image img {
            width: 100%; }
    .cat_in_mems .button {
      margin-top: 30px; } }
  @media screen and (max-width: 720px) {
    .cat_in_mems .blocks .block {
      width: 100%;
      margin-right: 0;
      margin-bottom: 8%; } }

.form {
  max-width: 100%; }
  .form h2 {
    margin: 40px 0 0 0;
    font-weight: 300;
    text-align: center; }
    .form h2:before, .form h2:after {
      display: inline-block;
      content: "";
      width: 200px;
      max-width: 20%;
      height: 1px;
      background-color: #c9c9c9;
      margin: 0 27px 12px 0; }
      @media screen and (max-width: 700px) {
        .form h2:before, .form h2:after {
          width: 0;
          margin: 0; } }
    .form h2:after {
      margin: 0 0 12px 24px; }
      @media screen and (max-width: 700px) {
        .form h2:after {
          width: 0;
          margin: 0; } }

form {
  width: 540px;
  max-width: 95%;
  margin: 67px auto 52px; }
  form label:not(.not_require):after {
    display: inline-block;
    content: " *";
    color: red;
    margin-left: 5px; }
  form #email, form #username {
    margin: 6px 0 26px; }
  form select {
    margin: 7px 0 44px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; }
  form .select_wrapper {
    position: relative; }
    form .select_wrapper:after {
      content: '';
      pointer-events: none;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 20px;
      right: 21px;
      border: solid #c9c9c9;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
  form .gender input {
    margin: 17px 0 47px 0;
    cursor: pointer; }
  form .gender label {
    margin: 0 37px 0 4px;
    cursor: pointer;
    color: #333; }
  form .message textarea {
    margin: 6px 0 46px 0;
    resize: none;
    height: 150px; }
  form .message input {
    padding: 14px 63px; }
    form .message input:hover {
      background-color: #9f6600; }

.footer {
  width: 100%;
  background-color: #f9f9f9; }
  .footer p {
    font-size: 16px;
    text-align: center;
    padding: 22px 5%; }

.clear {
  clear: both; }

body {
  max-width: 100%;
  background-image: url(../images/backgroung.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 50px; }
  @media screen and (max-width: 1200px) {
    body {
      background-position: -425px 50px; } }
  @media screen and (max-width: 560px) {
    body {
      background-position: -550px 150px; } }
